        <footer id="footer">
            <div class="foot">

                <a id="gotop" href="javascript:void(0);" onclick="return false;">
	            <img src="Up_btn.gif" alt="">
                </a>

                <div id="copyright">Copyright &copy; 2020 <a href="{{ site.author.site }}" target="_blank">Pangrenning</a>, All Rights Reserved, Hosted by <a href="https://github.com/Albert-Lucif4" target="_blank">Github Pages</a></div>
            </div>
            {% include statistics.html %}
        </footer>
